<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>no.rodland</string>
	<key>category</key>
	<string>FMR</string>
	<key>connections</key>
	<dict>
		<key>4D113645-4F33-49EC-AADE-B3AC2F819CA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6407155-CFE2-4D10-896A-25A03CFEF3CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65B0C37E-1081-4BCC-AE4E-92999226D4DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D113645-4F33-49EC-AADE-B3AC2F819CA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A243954C-E01B-493B-9842-1A55AB838967</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F01759D7-DA29-4833-9D09-1A765C93E521</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fredrik Rødland (fmr)</string>
	<key>description</key>
	<string>GeoGuessr Flags and TLD matcher</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GeoGuessr Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>geo.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B6407155-CFE2-4D10-896A-25A03CFEF3CE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tld</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Top Level Domain Search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>65B0C37E-1081-4BCC-AE4E-92999226D4DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>MODE</key>
					<string>TLD</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4D113645-4F33-49EC-AADE-B3AC2F819CA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>f</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>geo.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GeoGuessr</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A243954C-E01B-493B-9842-1A55AB838967</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F01759D7-DA29-4833-9D09-1A765C93E521</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Searches through tld, names, capital and flag meta info for countries.  Displays flags in drop-down and opens the flag in preview if chosen.  Also use the alt-modifier to view a more accurate (but sqewed version) of the flag.

source data example:
    {
        "country": "Andorra",
        "code": "ad",
        "tld": "ad",
        "capital": "Andorra la Vella",
        "search": "andorra andorra la vella ad blue red yellow symbol"
    },
    {
        "country": "United Arab Emirates",
        "code": "ae",
        "tld": "ae",
        "capital": "Abu Dhabi",
        "search": "united arab emirates de forente arabiske emirater abu dhabi uae ae red black green white"
    },</string>
	<key>uidata</key>
	<dict>
		<key>4D113645-4F33-49EC-AADE-B3AC2F819CA8</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>65B0C37E-1081-4BCC-AE4E-92999226D4DB</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>A243954C-E01B-493B-9842-1A55AB838967</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>B6407155-CFE2-4D10-896A-25A03CFEF3CE</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>F01759D7-DA29-4833-9D09-1A765C93E521</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/fmmr</string>
</dict>
</plist>
