<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>no.rodland</string>
	<key>category</key>
	<string>FMR</string>
	<key>connections</key>
	<dict>
		<key>43DAA699-230F-488D-847C-4A5D4E861A8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5B0E67F-80EB-4ABD-A391-B96A2C72D1D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E095EBB6-9658-4995-A202-E62DC93CB533</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Multiplayer</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9985B1A3-9D22-427C-B2C9-06C3CD076204</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B6F75D4-2611-48BA-814D-A777AEA675CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A243954C-E01B-493B-9842-1A55AB838967</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>148BCC21-A0F5-483D-9EDA-24C1C2F37DA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F01759D7-DA29-4833-9D09-1A765C93E521</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open flag in Preview</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6407155-CFE2-4D10-896A-25A03CFEF3CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>132D55E8-51CB-49B3-9955-34765862E785</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fredrik Rødland (fmr)</string>
	<key>description</key>
	<string>GeoGuessr Flags and TLD matcher</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GeoGuessr Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.geoguessr.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C5B0E67F-80EB-4ABD-A391-B96A2C72D1D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>geo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open GeoGuessr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43DAA699-230F-488D-847C-4A5D4E861A8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>q</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export MODE=TLD
export BASE=`pwd`
./geo.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Top Level Domain Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B6407155-CFE2-4D10-896A-25A03CFEF3CE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>132D55E8-51CB-49B3-9955-34765862E785</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>148BCC21-A0F5-483D-9EDA-24C1C2F37DA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>f</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>export MODE=FLAG
export BASE=`pwd`
./geo.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>GeoGuessr</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A243954C-E01B-493B-9842-1A55AB838967</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.geoguessr.com/multiplayer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E095EBB6-9658-4995-A202-E62DC93CB533</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>F01759D7-DA29-4833-9D09-1A765C93E521</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>geofiles</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Geo Files</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9985B1A3-9D22-427C-B2C9-06C3CD076204</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/projects/alfred/geoguessr/src/files/cyrilic.webp</string>
					<string>~/projects/alfred/geoguessr/src/files/driving.png</string>
					<string>~/projects/alfred/geoguessr/src/files/europe_letter.png</string>
					<string>~/projects/alfred/geoguessr/src/files/text_letters.txt</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>7B6F75D4-2611-48BA-814D-A777AEA675CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Searches through tld, names, capital and flag meta info for countries.  Displays flags in drop-down and opens the flag in preview if chosen.  Also use the alt-modifier to view a more accurate (but sqewed version) of the flag.

source data example:
    {
        "country": "Andorra",
        "code": "ad",
        "tld": "ad",
        "capital": "Andorra la Vella",
        "search": "andorra andorra la vella ad blue red yellow symbol"
    },
    {
        "country": "United Arab Emirates",
        "code": "ae",
        "tld": "ae",
        "capital": "Abu Dhabi",
        "search": "united arab emirates de forente arabiske emirater abu dhabi uae ae red black green white"
    },</string>
	<key>uidata</key>
	<dict>
		<key>132D55E8-51CB-49B3-9955-34765862E785</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>148BCC21-A0F5-483D-9EDA-24C1C2F37DA8</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>43DAA699-230F-488D-847C-4A5D4E861A8E</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>7B6F75D4-2611-48BA-814D-A777AEA675CF</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>9985B1A3-9D22-427C-B2C9-06C3CD076204</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>A243954C-E01B-493B-9842-1A55AB838967</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>B6407155-CFE2-4D10-896A-25A03CFEF3CE</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>C5B0E67F-80EB-4ABD-A391-B96A2C72D1D7</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>E095EBB6-9658-4995-A202-E62DC93CB533</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>F01759D7-DA29-4833-9D09-1A765C93E521</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/fmmr</string>
</dict>
</plist>
